{% extends 'crm/base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Confirm Deletion</h4>
            <p class="card-text">Are you sure you want to delete "{{ object.file_name }}" and all its data?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Yes, Delete</button>
                <a href="{% url 'view_imported_files' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}